body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
a {
  background-color: "red";
}

.main_image {
  position: relative;
  margin: auto;
}

.main_image img {
  margin: auto;
}

.zarowka{
  height: 40px;
}

.wszystkieSwiatla {
  position: absolute;
  width: 4%;
  top: 4%;
}

.blokZarowki, .blokRolety{
  position: absolute;
  text-align: center;
}

.blokRolety{
  top: 89%;
}

.temperatura, .nazwaBiura{
  position: absolute;
  font-size: 14pt;
  text-align: center;
}

.strzalka {
  height: 28px;
  padding: 0 5px;
  top: 90%;
  cursor: pointer;
}
.odwrot {
  transform: rotate(180deg);
}

#all_l1_1,#all_l2_1,#all_l3_1 {left: 90%;}
#all_l1_2,#all_l2_2,#all_l3_2 {left: 95%;}

#blokZarowki1_1,#blokZarowki2_1,#blokZarowki3_1{top: 25%;}
#blokZarowki1_2,#blokZarowki2_2,#blokZarowki3_2{top: 27%;}
#blokZarowki1_3,#blokZarowki2_3,#blokZarowki3_3{top: 27%;}
#blokZarowki1_4,#blokZarowki2_4,#blokZarowki3_4{top: 74%;}
#blokZarowki1_5,#blokZarowki2_5,#blokZarowki3_5{top: 72%;}
#blokZarowki1_6,#blokZarowki2_6,#blokZarowki3_6{top: 72%;}
#blokZarowki1_7,#blokZarowki2_7,#blokZarowki3_7{top: 72%;}

#t1_1,#t2_1,#t3_1 {top: 20%;}
#t1_2,#t2_2,#t3_2 {top: 22%;}
#t1_3,#t2_3,#t3_3 {top: 22%;}
#t1_4,#t2_4,#t3_4 {top: 69%;}
#t1_5,#t2_5,#t3_5 {top: 67%;}
#t1_6,#t2_6,#t3_6 {top: 67%;}
#t1_7,#t2_7,#t3_7 {top: 67%;}

#nazwa1_1,#nazwa2_1,#nazwa3_1{top: 33%;}
#nazwa1_2,#nazwa2_2,#nazwa3_2{top: 35%;}
#nazwa1_3,#nazwa2_3,#nazwa3_3{top: 35%;}
#nazwa1_4,#nazwa2_4,#nazwa3_4{top: 82%;}
#nazwa1_5,#nazwa2_5,#nazwa3_5{top: 80%;}
#nazwa1_6,#nazwa2_6,#nazwa3_6{top: 80%;}
#nazwa1_7,#nazwa2_7,#nazwa3_7{top: 80%;}

#t1_1,#t2_1,#t3_1,#nazwa1_1,#nazwa2_1,#nazwa3_1,#blokZarowki1_1,#blokZarowki2_1,#blokZarowki3_1{left: 5%; width: 25%;}
#t1_2,#t2_2,#t3_2,#nazwa1_2,#nazwa2_2,#nazwa3_2,#blokZarowki1_2,#blokZarowki2_2,#blokZarowki3_2{left: 53%; width: 20%;}
#t1_3,#t2_3,#t3_3,#nazwa1_3,#nazwa2_3,#nazwa3_3,#blokZarowki1_3,#blokZarowki2_3,#blokZarowki3_3{left: 76%; width: 20%;}
#t1_4,#t2_4,#t3_4,#nazwa1_4,#nazwa2_4,#nazwa3_4,#blokZarowki1_4,#blokZarowki2_4,#blokZarowki3_4,#blokRolety1_4,#blokRolety2_4,#blokRolety3_4{left: 5%; width: 25%;}
#t1_5,#t2_5,#t3_5,#nazwa1_5,#nazwa2_5,#nazwa3_5,#blokZarowki1_5,#blokZarowki2_5,#blokZarowki3_5,#blokRolety1_5,#blokRolety2_5,#blokRolety3_5{left: 35%; width: 16%;}
#t1_6,#t2_6,#t3_6,#nazwa1_6,#nazwa2_6,#nazwa3_6,#blokZarowki1_6,#blokZarowki2_6,#blokZarowki3_6,#blokRolety1_6,#blokRolety2_6,#blokRolety3_6{left: 54%; width: 19%;}
#t1_7,#t2_7,#t3_7,#nazwa1_7,#nazwa2_7,#nazwa3_7,#blokZarowki1_7,#blokZarowki2_7,#blokZarowki3_7,#blokRolety1_7,#blokRolety2_7,#blokRolety3_7{left: 76%; width: 19%;}




@media (max-width: 900px) {
  .main_image #main_image {
    margin: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 700px){
  .zarowka{
    height: 60px;
  }

  .wszystkieSwiatla {
    width: 60px;
    top: 103%;
  }
  .temperatura, .nazwaBiura{
    font-size: 16pt;
  }
  .nazwaBiura{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  .temperatura{
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .strzalka {
    height: 40px;
  }
  #all_l1_1,#all_l2_1,#all_l3_1 {left: 69%;}
  #all_l1_2,#all_l2_2,#all_l3_2 {left: 85%;}

  #blokZarowki1_1,#blokZarowki2_1,#blokZarowki3_1{top: 140%;}
  #blokZarowki1_2,#blokZarowki2_2,#blokZarowki3_2{top: 140%;}
  #blokZarowki1_3,#blokZarowki2_3,#blokZarowki3_3{top: 185%;}
  #blokZarowki1_4,#blokZarowki2_4,#blokZarowki3_4{top: 185%;}
  #blokZarowki1_5,#blokZarowki2_5,#blokZarowki3_5{top: 240%;}
  #blokZarowki1_6,#blokZarowki2_6,#blokZarowki3_6{top: 240%;}
  #blokZarowki1_7,#blokZarowki2_7,#blokZarowki3_7{top: 294%;}

  #t1_1,#t2_1,#t3_1 {top: 160%;}
  #t1_2,#t2_2,#t3_2 {top: 160%;}
  #t1_3,#t2_3,#t3_3 {top: 218%;}
  #t1_4,#t2_4,#t3_4 {top: 218%;}
  #t1_5,#t2_5,#t3_5 {top: 271%;}
  #t1_6,#t2_6,#t3_6 {top: 271%;}
  #t1_7,#t2_7,#t3_7 {top: 325%;}

  #nazwa1_1,#nazwa2_1,#nazwa3_1{top: 125%;}
  #nazwa1_2,#nazwa2_2,#nazwa3_2{top: 125%;}
  #nazwa1_3,#nazwa2_3,#nazwa3_3{top: 170%;}
  #nazwa1_4,#nazwa2_4,#nazwa3_4{top: 170%;}
  #nazwa1_5,#nazwa2_5,#nazwa3_5{top: 226%;}
  #nazwa1_6,#nazwa2_6,#nazwa3_6{top: 226%;}
  #nazwa1_7,#nazwa2_7,#nazwa3_7{top: 279%;}

  #blokRolety1_4,#blokRolety2_4,#blokRolety3_4{top: 204%;}
  #blokRolety1_5,#blokRolety2_5,#blokRolety3_5,#blokRolety1_6,#blokRolety2_6,#blokRolety3_6{top: 258%;}
  #blokRolety1_7,#blokRolety2_7,#blokRolety3_7{top: 312%;}

  #t1_1,#t2_1,#t3_1,#nazwa1_1,#nazwa2_1,#nazwa3_1,#blokZarowki1_1,#blokZarowki2_1,#blokZarowki3_1{left: 0%; width: 49%;}
  #t1_2,#t2_2,#t3_2,#nazwa1_2,#nazwa2_2,#nazwa3_2,#blokZarowki1_2,#blokZarowki2_2,#blokZarowki3_2{left: 50%; width: 49%;}
  #t1_3,#t2_3,#t3_3,#nazwa1_3,#nazwa2_3,#nazwa3_3,#blokZarowki1_3,#blokZarowki2_3,#blokZarowki3_3{left: 0%; width: 49%;}
  #t1_4,#t2_4,#t3_4,#nazwa1_4,#nazwa2_4,#nazwa3_4,#blokZarowki1_4,#blokZarowki2_4,#blokZarowki3_4,#blokRolety1_4,#blokRolety2_4,#blokRolety3_4{left: 50%; width: 49%;}
  #t1_5,#t2_5,#t3_5,#nazwa1_5,#nazwa2_5,#nazwa3_5,#blokZarowki1_5,#blokZarowki2_5,#blokZarowki3_5,#blokRolety1_5,#blokRolety2_5,#blokRolety3_5{left: 0%; width: 49%;}
  #t1_6,#t2_6,#t3_6,#nazwa1_6,#nazwa2_6,#nazwa3_6,#blokZarowki1_6,#blokZarowki2_6,#blokZarowki3_6,#blokRolety1_6,#blokRolety2_6,#blokRolety3_6{left: 50%; width: 49%;}
  #t1_7,#t2_7,#t3_7,#nazwa1_7,#nazwa2_7,#nazwa3_7,#blokZarowki1_7,#blokZarowki2_7,#blokZarowki3_7,#blokRolety1_7,#blokRolety2_7,#blokRolety3_7{left: 0%; width: 49%;}

}

@media only screen and (max-width: 500px){
  #all_l1_1,#all_l2_1,#all_l3_1 {left: 65%;}
  #all_l1_2,#all_l2_2,#all_l3_2 {left: 83%;}

  #blokZarowki1_1,#blokZarowki2_1,#blokZarowki3_1{top: 144%;}
  #blokZarowki1_2,#blokZarowki2_2,#blokZarowki3_2{top: 144%;}
  #blokZarowki1_3,#blokZarowki2_3,#blokZarowki3_3{top: 196%;}
  #blokZarowki1_4,#blokZarowki2_4,#blokZarowki3_4{top: 196%;}
  #blokZarowki1_5,#blokZarowki2_5,#blokZarowki3_5{top: 267%;}
  #blokZarowki1_6,#blokZarowki2_6,#blokZarowki3_6{top: 267%;}
  #blokZarowki1_7,#blokZarowki2_7,#blokZarowki3_7{top: 344%;}

  #t1_1,#t2_1,#t3_1 {top: 167%;}
  #t1_2,#t2_2,#t3_2 {top: 167%;}
  #t1_3,#t2_3,#t3_3 {top: 237%;}
  #t1_4,#t2_4,#t3_4 {top: 237%;}
  #t1_5,#t2_5,#t3_5 {top: 306%;}
  #t1_6,#t2_6,#t3_6 {top: 306%;}
  #t1_7,#t2_7,#t3_7 {top: 385%;}

  #nazwa1_1,#nazwa2_1,#nazwa3_1{top: 125%;}
  #nazwa1_2,#nazwa2_2,#nazwa3_2{top: 125%;}
  #nazwa1_3,#nazwa2_3,#nazwa3_3{top: 178%;}
  #nazwa1_4,#nazwa2_4,#nazwa3_4{top: 178%;}
  #nazwa1_5,#nazwa2_5,#nazwa3_5{top: 248%;}
  #nazwa1_6,#nazwa2_6,#nazwa3_6{top: 248%;}
  #nazwa1_7,#nazwa2_7,#nazwa3_7{top: 316%;}

  #blokRolety1_4,#blokRolety2_4,#blokRolety3_4{top: 220%;}
  #blokRolety1_5,#blokRolety2_5,#blokRolety3_5,#blokRolety1_6,#blokRolety2_6,#blokRolety3_6{top: 290%;}
  #blokRolety1_7,#blokRolety2_7,#blokRolety3_7{top: 368%;}
}