body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f7f9;
    color: #333;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
    
}
header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 50px;
}

.tabs {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.tab-button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
}

.tab-button:hover,
.tab-button.active {
    color: #007BFF;
    border-color: #007BFF;
    height: 100%;
}

main {
    padding: 0px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    padding: 0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    padding: 0px;
    height: calc(100vh - 80px); /* Upewnij się że 80px = wysokość headera */
}

.tab-content {
    display: none;
    height: 100%;
}

.tab-content.active {
    display: block;
    height: 100%;
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}