body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f7f9;
  color: #333;
  height: 100%;
  overflow: hidden;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 10px solid;
  border-image: linear-gradient(180deg, #333 95%, #f4f7f9) 1;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.tabs {
  gap: 1rem;
  padding: 10px 0 0 10px;
}

.tabs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.tabs-list li {
  padding: 0.5rem 1rem;
}

.tab-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s, color 0.3s;
}

.tab-button:hover,
.tab-button.active {
  color: #007bff;
  border-color: #007bff;
  height: 100%;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  padding: 0px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  padding: 0px;
  height: calc(100vh - 120px);
}

.tab-content {
  display: none;
  height: 100%;
}

.tab-content.active {
  display: block;
  height: 100%;
  padding: 0;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#settings_icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: left;
  margin-left: 10px;
} 

#settings_icon:hover {
  background-image: url("./img_main/settings-move.gif");
  background-size: cover;
}
#logo_settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  
}

.modal {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
}
#tabelka1, #tabelka2, #tabelka3{
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  align-items: flex-start; 
}
.swiatla_div, .czujniki_div, .pokoje_div{
  display: block;
}



.settings_forms button{
  background-color: #2a80f9;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px #2a80f9 solid;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
.settings_forms button:hover {
  background-color: white;
  color: #2a80f9;
}
.settings_forms button:active {
  background-color: #2a80f9;
  color: white;
}

#reset{
  background-color: #fc1212;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px #fc1212 solid;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
#reset:hover {
  background-color: white;
  color: #fc1212;
}
#reset:active {
  background-color: #fc1212;
  color: white;
}

select {
  padding: 8px 12px;
  margin: 10px 10%;
  width: 80%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}

input {
  margin: 1px;
  padding: 5px 10px;
  transition: all 0.2s;
}

input:hover, select:hover{
  border-color: #007bff;
  background-color: #d3e2ec;
}

input:focus, select:focus {
  border-color: #007bff;
  background-color: #e6f0ff;
  outline: none;
  background-color: #d3e2ec;
}


@media(max-width:1200px){
  .tabs{
    margin: auto;
  }
  main {
    height: calc(100vh - 170px);
  }
}
@media (max-width: 1100px){
    .flex_div{
        column-count: 2;
    }
    #tabelka1, #tabelka2, #tabelka3{
      column-count: 2;
      display: inline-grid;
      width: 70vw;
    }
    /* .swiatla_div{
      height: 100%;
      float: left;
    } */
    .czujniki_div, .pokoje_div{
      float: right;
    }
}

@media (min-width:810px) and (max-width: 1235px){
  header {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 810px) {
   
  main {
    height: calc(100vh - 90px);
  }
  .tabs-list {
    list-style: none;
    display: block;
    padding: 10px 0 0 10px;
    position: absolute;
    width: 200px;
    top: 70px;
    right: -300px;
    border: #007bff 1px solid;
    background-color: #007bffde;
    transition: 0.5s;
  }
  .tab-button {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
  }

  .tab-button:hover,
  .tab-button.active {
    color: #ffffff;
    border-color: #ffffff;
  }
  .tabs-list li {
    padding-top: 10px;
  }
  .hamburger {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 25px;
    right: 10px;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
}
@media (max-width: 750px){
  .flex_div{
      column-count: 1;
  }
}
@media (max-width: 840px) {
  #tabelka1, #tabelka2, #tabelka3{
    display: inline-grid;
    column-count: 1;
    width: 100%;
  }
  .modal-content{
    width: 90vw;
  }
  .swiatla_div{
    width: 100%;
  }
}

@media (max-height: 700px){
  .close-btn {
    top: 40px;
    right: 20px;
  }
}