body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* przerwa pomiedzy sekcjami */
    gap: 35px;
    padding-top: 30px;
    font-family: 'Ubuntu';
}
section{
    margin-bottom: 30px;
    width: 320px;
    height: 320px;
    padding: 14px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(12, 61, 98);
    box-shadow: rgba(14, 110, 182, 0.2) 2px 2px 29px ;
    transition: all 0.3s;
}

section:hover{
    scale: 1.05;
    box-shadow: rgba(14, 110, 182, 0.3) 5px 5px 15px ;
}

section h1{
    text-align: center;
    font-size: 25px;
    color: black;
}
section div{
    text-align: center;
}
#raporty{
    text-align: center
}
button {
  background-color: #2a80f9;
  color: white;
  padding: 12px 24px;
  border: 2px #2a80f9 solid;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
  margin: 10px;
}
button:hover {
  background-color: white;
  color: #2a80f9;
}
button:active {
  background-color: #2a80f9;
  color: white;
}
select {
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}

select:hover{
  border-color: #007bff;
  background-color: #d3e2ec;
}

select:focus {
  border-color: #007bff;
  background-color: #e6f0ff;
  outline: none;
  background-color: #d3e2ec;
  scale: 1, 1.1;
  padding: 8px 20px;
}
.flex_div{
    column-count: 3;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.min{
    color:red;
}
.max{
    color:green;
}
.avg{
    color:rgb(112, 112, 28);
}
.icons_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.stats_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.oaerror {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 10px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.stats_div p{
    text-align: left;
}
.icons_div img{
    width: 40px;
    height: 40px;
    
}

@media (max-width: 1100px){
    .flex_div{
        column-count: 2;
    }
}
@media (max-width: 720px){
    .flex_div{
        column-count: 1;
    }
}