body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

form {
  padding: 5px;
}
input, select{
  margin-bottom: 10px;
}
#myDiv {
  margin: auto;
}
#myDiv2 {
  display: block;
}

#myPlot {
  width: 100%;
  height: 400px;
  text-align: center;
}

.plotSensor{
  width: 48%;
}

@media (max-width: 1100px) {
  header img {
    width: 400px;
  }

  #formularz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #dataInfoText {
    font-size: 18px;
  }
}
@media (max-width:900px){
  #myDiv{
    width: 100%;
    margin: auto;
  }
  #myDiv img{
    width: 100%;
  }
  .plotSensor{
    width: 98%;
  }
}
@media (max-width: 520px) {
  #myDiv2 {
    width: 100%;
  }
}
