body {
  font-family: "Ubuntu", Courier, monospace;
  background-color: #f4f7f9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
form {
  padding: 5px;
}
input {
  margin: 10px;
  padding: 10px;
  transition: all 0.3s;
}
button {
  background-color: #2a80f9;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px #2a80f9 solid;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}
button:hover {
  background-color: white;
  color: #2a80f9;
}
button:active {
  background-color: #2a80f9;
  color: white;
}
#myDiv {
  margin: auto;
}
#myDiv2 {
  display: block;
}
.oaerror {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  margin: 10px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: left;
}

#myPlot {
  width: 100%;
  height: 400px;
  text-align: center;
}
input, select {
  padding: 12px 24px;
  margin: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s;
}

input:hover, select:hover{
  border-color: #007bff;
  background-color: #d3e2ec;
}

input:focus, select:focus {
  border-color: #007bff;
  background-color: #e6f0ff;
  outline: none;
  background-color: #d3e2ec;
  scale: 1, 1.1;
  padding: 12px 30px;
}

.plotSensor{
  width: 48%;
}

@media (max-width: 1100px) {
  header img {
    width: 400px;
  }

  #formularz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #dataInfoText {
    font-size: 18px;
  }
}
@media (max-width:900px){
  #myDiv{
    width: 100%;
    margin: auto;
  }
  #myDiv img{
    width: 100%;
  }
  .plotSensor{
    width: 98%;
  }
}
@media (max-width: 520px) {
  #myDiv2 {
    width: 100%;
  }
}
