body {
  margin: 0;
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-group {
  gap: 5px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
input, select{
  margin-bottom: auto;
}

/* CSS tylko dla switcha - codepan */
input[type=checkbox] {
    height: 0;
    width: 0;
    padding: 0;
    border: 0;
    margin: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 66px;           /* 200 / 3 */
    height: 33px;          /* 100 / 3 */
    background: grey;
    display: flex;
    border-radius: 33px;   /* 100 / 3 */
    position: relative;
}
label:after {
    content: '';
    position: absolute;
    top: 1.67px;           /* 5 / 3 */
    left: 1.67px;          /* 5 / 3 */
    width: 30px;           /* 90 / 3 */
    height: 30px;          /* 90 / 3 */
    background: #fff;
    border-radius: 30px;   /* 90 / 3 */
    transition: 0.3s;
}
input:checked + label {
    background: #2a80f9;
}
input:checked + label:after {
    left: calc(100% - 1.67px);
    transform: translateX(-100%);
}
label:active:after {
    width: 43.33px;        /* 130 / 3 */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f4f7f9;
}


@media (max-width: 1100px) {
  #myDiv {
    display: none;
  }
  #myDiv2 {
    display: block;
    scale: 0.8;
  }
  header img {
    width: 400px;
  }

  #formularz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #dataInfoText {
    font-size: 18px;
  }
  input, select{
    margin-bottom: 10px;
  }

}
